{% extends "base.html" %}
{% block headline %}
    <h1>Your account</h1>
{% endblock %}
{% block content %}
<div class="full">
    {% if user.is_authenticated %}
        <p><a href="{% url django.contrib.auth.views.password_change %}">Change your password</a></p>
    {% else %}
        <p>In order to be able to access your account, <a href="{% url django.contrib.auth.views.login %}">please log in</a></p>
    {% endif %}
</div>
{% if user.bookmark_set.count %}
<div class="half">
    <h2>Tracking</h2>
    <ul class="trackinglist">
      {% for bookmark in user.bookmark_set.all %}
        <li><a href="{{ bookmark.content_object.get_absolute_url }}">{{ bookmark.content_object }}</a> <form action="{% url unbookmark %}" method="post"><input type="hidden" name="content_type" value="{{ bookmark.content_type.id }}"><input type="hidden" name="object_id" value="{{ bookmark.object_id }}"><input type="submit" value="x"></form>
        </li>
      {% endfor %}  
    </ul>
</div>   
<br class="clear"> 
{% endif %}
{% endblock %}