Django
-e git+http://github.com/simonw/geocoders.git#egg=geocoders
South
django-extensions
lxml
pyquery
wsgiref
psycopg2
django-debug-toolbar
isodate
django-haystack
whoosh
https://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz