{% extends "base.html" %}
{% block headline %}
    <h1>Login</h1>
{% endblock %}
{% block content %}

<div class="default_background"> 
     	<h1> 
           <img align= "Left" img src ="../../images/default_logo.png"/>
       </h1>
</div>


<div id="bodycopy">
    {% if form.errors %}
    <div class="non_field_errors">
        <p>Sorry, we don't recognize that username and/or password.  Please try again.</p>
	<p> <a href="{% url django.contrib.auth.views.password_reset %}">I forgot my password</a> </p>
    </div>
    {% endif %}
    <form method="post" action="">
    {% csrf_token %}
    <p>My username is {{ form.username }} and my password is {{ form.password }}.  <input type="submit" value="Please log me in."></p>
    <input type="hidden" name="next" value="{% url home %}">
    </form>    
</div>
{% endblock %}





