{% extends "base.html" %}
{% block headline %}
    <h1>Login</h1>
{% endblock %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="full">
    <form method="post" action="">
    {% csrf_token %}
    My username is {{ form.username }} and my password is {{ form.password }}.  <input type="submit" value="Please log me in.">
    <input type="hidden" name="next" value="{% url home %}">
    </form>    
</div>
{% endblock %}





