{% extends "base.html" %}
{% block headline %}
    <h1>Login</h1>
{% endblock %}
{% block content %}
<div class="full">
    {% if form.errors %}
    <div class="non_field_errors">
        <p>Sorry, we don't recognize that username and/or password.  Please try again.</p>
    </div>
    {% endif %}
    <form method="post" action="">
    {% csrf_token %}
    <p>My username is {{ form.username }} and my password is {{ form.password }}.  <input type="submit" value="Please log me in."></p>
    <input type="hidden" name="next" value="{% url home %}">
    </form>    
</div>
{% endblock %}





