{% extends "base.html" %}
{% block headline %}
    <h1>Reset Password</h1>
{% endblock %}

{% block content %}  

<div class="default_background"> 
     	<h1> 
           <img align= "Left" img src ="../../images/default_logo.png"/>
       </h1>
</div>

   <form method="post" action="">
   
  {% if form.errors %}
    <div id ="about_intro">
      <p> Sorry, we don't recognize this email address.  Please try again. </p>
    </div>
    {% endif %}


    {% csrf_token %}
   <div id="bodycopy">
   <p> My Email Address is {{ form.email }}. Please e-mail me a link to reset my password. </p> <input type="submit" value="Reset"> 

   </div>

  </form>

{% endblock %}


