{% extends "base.html" %}
{% block headline %}
    <h1>Reset Password</h1>
{% endblock %}

{% block content %}  
   <form method="post" action="">
   
  {% if form.errors %}
    <div class="non_field_errors">
        <p>Sorry, we don't recognize this email address.  Please try again.</p>
    </div>
    {% endif %}


    {% csrf_token %}
   <div class="full">
   <p>  My Email Address is {{ form.email }}. Please send me reset email. </p> <input type="submit" value="Reset"> 

   </div>

  </form>

{% endblock %}


