{% extends "base.html" %}
{% block headline %}
    <h1>Change Password</h1>
{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
    <div class="non_field_errors">
        <p>{{ form.non_field_errors }}</p>
    </div>
    {% endif %}
   <form method="post" action="">
    {% csrf_token %}
   <div class="full">
   <p>My old password is {{ form.old_password }}{% for error in form.old_password.errors %}<span class="error">({{ error }})</span>{% endfor %}. My new password will be {{ form.new_password1 }}{% for error in form.new_password1.errors %}<span class="error">({{ error }})</span>{% endfor %}. I confirm my new password will be {{ form.new_password2 }}{% for error in form.new_password2.errors %}<span class="error">({{ error }})</span>{% endfor %} . </p> <input type="submit" value="Change Password"> 

   </div>

  </form>

{% endblock %}


