{% extends "base.html" %}
{% block headline %}
  {% if form %}
    <h1>Reset Password</h1>
  {% else %}
    <h1>Error resetting password</h1>
  {% endif %}
{% endblock %}

{% block content%}
  <div class="full">
  {% if form %}
  <form method="post" action="">
    {% csrf_token %}
    <p>My new password is {{ form.new_password1 }}. I reconfirm my new password is {{ form.new_password2 }}.  <input type="submit" value="Reset my Password."></p>
    <input type="hidden" name="next" value="{% url home %}">
    </form>
  {% else %}
  <p>This password reset key has already been used</p>
  {% endif %}
  </div>

    


{% endblock %}
