{% extends "base.html" %}
{% block headline %}
    <h1>Sign Up!</h1>
{% endblock %}
{% block content %}
<div class="full">
   <form action="" id="registration_form" method="post"> 
       <p>Sign me up for They Work for AZ! I’d like my username to be {{ form.username }} and my password to be {{ form.password1 }}.  I confirm that I want my password to be {{ form.password2 }}.  My e-mail address is {{ form.email }}.  Please <input type="submit" value="create my account">.</p>
    </form>
</div>

{% endblock %}
