form.whereform input{
    font-weight: bolder;
    font-size: 1.2em;
}
form.whereform input[type=text]{
    width: 300px;
}

div.container_12{
}

div#header img{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    border: 0px;
}

div#footer{
    margin-top: 3em;
}

h3 img{
    /* graphs inside headlines - piecharts, sparklines style */
    margin: -10px;
    position: relative;
    left: 7px;
}

p img{
    margin: -5px;
    margin-bottom: -10px;
}

.sponsorships li.grid_3{
    height: 90px;
}