html, body {
	height:100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;	
    background: url("../images/bg-stripe.jpg") repeat scroll 0 0 transparent; 
    margin: 0;
    padding: 0;
}

.nav{
  height:2.25em;
  min-height: 1em;
  background: #000000;
  font-family: "Helvetica Neue",sans-sirif;
  font-weight: 200;
  
  
}


.nav ul li{
  height: 26px;
  padding-top: 10px;
  display: block;
  float: left;
  margin-right: auto;
  margin-left: auto;
}
.nav ul a{
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.nav ul li:hover{
  background-color: #5f3c33;
  opacity:1;
}


.search_button{
  background: url("../images/search_button.png") no-repeat;
  cursor: pointer;
  vertical-align: top;
  background-color: #b73626;
  height: 36px;
  width: 27%;	
  float: right;
  padding-left: 5px;
  font-size: 10px;
  font-family: "Helvetica Neue",sans-sirif;
  font-weight: 200;
  color: #a8a8a8;
}


#search a{
  text-decoration: none;
  
  color: #fff; 	
}

#search{
  height:2.25em;
  min-height: 1em;
  font-family: "Helvetica Neue",sans-sirif;
  font-weight: 100;
  padding-left: 39px;
  padding-top: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  
}







#but_search.but_search_on, .expanded_search.but_search_on {
background-position: 0 -27px !important;
}
#but_search {
float: left;
width: 189px;
height: 27px;
cursor: pointer;
zoom: 1;
position: relative;
background: url(/global-landing/global/images/btns/btn_search.png) no-repeat 0px 0px;
}

.but_search_on {
}


.but_search_off {
}







.background{
	background: url("../images/background_top.png") no-repeat #f6edda;
	position: relative;
	height: 382px;	
}

.innertop{
	display: inline;
	margin-left: auto;
    margin-right: auto; 
    top: 10px; 
    position: absolute;
    overflow: hidden;
    height: 140px;
   
}

#logo_background {
	padding-bottom 200px;
	background-color: #8e0a1d;
	padding-top: 20px;
	padding-left: 15px;
	height: 136px;
	width: 100%;
	background: url("../images/logo_background.png") no-repeat #f6edda;
}

#intro{
	color: #5f5151;
	font-size: 17px;
	font-family: "Helvetica Neue",sans-sirif;
	font-weight: 200;
	line-height: 25px;
	padding-left: 500px;
	padding-top: 7px;
	width: 100%;
	top: 5px;
	text-align: left;
	
}

header, .nav, footer, .background, .innertop, .search_home {
	display:block;
	margin-left: auto;
	margin-right: auto;
	
}

header, .nav, footer, .background, .innertop, .search_home{
width:1008px;
}

.search_home{
	height: 200px;
	background-color: #ffffff;
	
		
}


footer {
  background: #810f02;
  min-height: 200px;
  color: #fff;
  clear: both;
}
footer a {
  color: #fff;
  text-decoration: none;
}







