	/* Eric Meyer's reset - http://meyerweb.com/eric/tools/css/reset/ */
html, body{
  height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding:0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	background-color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset END */

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
    background-color: #ffffff;	
    background: url("../images/bg-stripe.jpg") repeat scroll 0 0 transparent; 
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	color: #b73626;
}

nav{
  height:2.25em;
  min-height: 1em;
  background: #000000;
}

nav ul li{
  height: 26px;
  padding-top: 10px;
  display: block;
  float: left;
  margin-right: auto;
  margin-left: auto;
}
nav ul a{
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
nav ul li:hover{
  background-color: #5f3c33;
  opacity:1;
}


#search_button{
  background: url("../images/search_button.png") no-repeat ;
  cursor: pointer;
  vertical-align: top;
  background-color: #b73626;
  height: 36px;
  width: 27%;	
  float: right;
  padding-left: 5px;
  font-size: 10px;
  color: #a8a8a8;
}


#search a{
  text-decoration: none;
  
  color: #fff; 	
}

#search{
  height:2.25em;
  min-height: 1em;
  font-weight: 100;
  padding-left: 39px;
  padding-top: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  
}









#search_button.search_button_on,
.expanded_search.search_button_on {
    background-position: 0 -27px !important;
}
.search_button_off {
}


.expanded_search div { width: 337px !important; }

.search_button_off div { 
    color: #fff;
    background: none;
}
.search_button_on div { 
    /*background: url(/global-landing/na/en_US/images/btns/btn_search_on.png) no-repeat -4px -3px;*/
}

.search_button_on {
    /*background: url(/global-landing/na/en_US/images/btns/btn_search_on.png) no-repeat 0px 0px;*/
}
/** html .but_search_on {background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/global-landing/na/en_US/images/btns/btn_search_on.png', sizingMethod="scale");}*/
#button_search_area {  position: absolute; top: 26px; right: -1px; z-index: 901; width: 360px; height: 66px; 
    background: url(/global-landing/global/images/btns/btn_search_field.png) no-repeat;
    background-position: 0px 0px; 
    display: none;}
/** html #but_search_area {background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/global-landing/na/en_US/images/btns/btn_search_field.png', sizingMethod="crop");} */
/** html #but_search {background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/global-landing/na/en_US/images/btns/btn_search.png', sizingMethod="crop");}*/
#button_search_area_in {position: relative;}
#button_search_field {position: absolute;top: 12px; left: 20px; z-index: 950; border: none; width: 280px; height: 40px; font-size: 36px; color: #fff; background: #f95300;}
#button_search_area_submit {position: absolute;top: 19px; right: 20px; z-index: 910; width: 30px; height: 30px;cursor:pointer;}

/* Expanded search overrules */
.expanded_search {
    background: url(../images/drop_form.png) no-repeat 0px 0px !important;
    width: 353px !important;
}

.but_sa_expanded { background-position: 0px -67px !important; }



#search_button.search_button_on, .expanded_search.search_button_on {
background-position: 0 -27px !important;
}


.search_button_on {
}


.search_button_off {
}













.background{
	background: url("../images/background_top.png") no-repeat #f6edda;
	position: relative;
	height: 382px;	
}

.default_background{
	background: #810f02;
	position: relative;
	height: 100px;	
}

.default_background h1{
	padding-left: 10px;
    padding-top: 10px;
}



.innertop{
	display: inline;
	margin-left: auto;
    margin-right: auto; 
    top: 10px; 
    position: absolute;
    overflow: hidden;
    height: 140px;
}



#logo_background {
	padding-bottom: 200px;
	background-color: #8e0a1d;
	padding-top: 20px;
	padding-left: 15px;
	height: 136px;
	width: 100%;
	background: url("../images/logo_background.png") no-repeat #f6edda;
}







#intro{
	color: #5f5151;
	font-size: 17px;
	line-height: 25px;
	padding-left: 500px;
	padding-top: 7px;
	width: 100%;
	top: 5px;
	text-align: left;
	
}

header, nav, footer, section#main, section#content, .background, .innertop, .search_home {
	display:block;
	margin-left: auto;
	margin-right: auto;
  width:1008px;
	
}

section#content{
  min-height: 230px;
  background: #fff;
}
section#content ul li{
  margin-left: 20px;
  list-style-type: circle;
}
	
}z


/* divs for stack layout */
section#content div#about_intro {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

section#content div#about_intro p{
  font-size: 25px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 50px;
  line-height: 32px;
}

section#content div#about_intro a{
  padding-left: 0px;
  color: #8e0a1d;

}

section#content div#bodycopy{
  width: 100%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 400px;
  padding-left: 65px;
  padding-top: 30px;

}
section#content div#bodycopy p{
  font-size: 12pt;
  
  padding-right: 65px;
  line-height: 22px;
  letter-spacing: 1px;
}

section#content div#bodycopy p b{
  font-weight: bold;
}

section#content div#bodycopy ul{
  font-size: 12pt;
  line-height: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  
}


section#content div h1 {
    font-size: 4.2em;
    line-height: 70%;
}



/* this is div for column layout */
section#content div.full {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

section#content div.full p{
  font-size: 25px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 50px;
  line-height: 32px;
}

section#content div.half *{
  font-size: 12px;
  padding-left: 45px;
  padding-right: 45px;
  line-height: 16px;
}

section#content div.half{
  width: 45%;
  float: left;
  margin-left: 4%;
}



section#content div.full a{
  padding-left: 0px;
  color: #8e0a1d;

}



section#content div#intro {
  width: 75%;
  margin: 0px auto 15px auto;
  padding-top: 40px;
}
section#content div#intro p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 120%;
}



section#content div.full {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
}


.search_home{
	height: 200px;
	background-color: #ffffff;
	padding-top: 30px;		
}


.inner_home{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 120px;
	width: 85%;
}

#headline_container{
	height: 40px;
}

.search_container{
	display: inline;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #b63524;
	height: 85px;
	width: 100%;

}


.frontsearch_boxes{
	background: none;
	color: #b9b9b9;
}

.search_icon_boxes{
	background: url("../images/search_icon_button.png") no-repeat;
	float: left;
	width: 50%;
}

.find_and_track_headlines_font_treatment{
	float: left;
	text-align: left;
	margin-left: 0%;
	width: 50%;
	color: #000;
	font-size: 26px;	
}

.search_input_example{
	float: left;
	text-align: left;
	margin-left: 6%;
	width: 40%;
	color: #000;
	font-size: 12px;
	padding-top: 5px;
	
}

.find_and_track_headlines_font_treatment h2{
	display: inline;
	color: #065b2c;
	
}

.find_and_track_headlines_font_treatment h3{
	display: inline;
	color: #f7d309;
	
}


.search_instructions_font_treatment{
	float: left;
	margin-left: 1%;
	line-height: 20px;
	width: 45%;
	padding-top: 22px;
	font-size: 15px;
	
}






#example{
	color: #5f5151;
	font-size: 17px;
	padding-left: 20px;
	padding-top: 5px;
	text-align: left;
	width: 100%;
}

footer {
  background: #810f02;
  height: 200px;
  color: #fff;
  clear: both;
  position: relative;
}
footer a {
  color: #fff;
  text-decoration: none;
}

footer img {
  width: 220px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0;
}
footer img.lowerlogo {
  display: block;
  clear: both;
}

footer div.quarter {
  width: 23%;
  padding: 1%;
  float:left;
}
footer div.half {
  clear: both;
}
footer div.quarter ul {
  border-left: 1px solid white;
  padding-left: 7px;
}
footer div.quarter ul li {
  font-size: 0.8em;
  margin-top: 1em;
}

.clear {
  clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}



@media only screen and (max-width: 500px) {
  * {
    float: none;
    max-width: 95%;
  }
  header, nav, section#main, section#content, footer{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  nav{
    display: block;
    float: none;
  }
  section#headline, section#content div.half, .quarter, section#content div.full{
    width: 400px;
    float: none;
  }
}
