{% extends "base.html" %}
{% block wholenav %}

{% endblock %}
{% block body %}
<form method="get" action="{% url haystack_search %}">
	{{ form }}
	<input type="submit" value="Search">
</form>
{% if query %}
	<h3> RESULTS </h3>
	{% for result in page.object_list %}
		<p>
			<a href = "{{result.object.get_absolute_url}}">{{ result.object }}</a>
		</p>
	{% empty %}
		<p> NO RESULTS FOUND. </p>
	{% endfor %}
	
	{% if page.has_previous or page.has_next %}
		<div>
			{% if page.has_previous %}
				<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>
			{% endif %}
			
			{% if page.has_next %}
				<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>
			{% endif %}
		</div>
	{% endif %}
{% else %}
	What would you like to search?
{% endif %}
{% endblock %}