{% extends "base.html" %}
{% block headline %}
    <h1>About TheyWorkForAZ</h1>
{% endblock %}
{% block content %}
<div class="full">
	<p>TheyWorkForAZ was developed in the <a href="http://cronkite.asu.edu">New Media Innovation Lab</a> at <a href="http://www.asu.edu">Arizona State University</a> based on the ideas of the <a href="http://phxdata.org/">PHXdata user group</a> and students at the Lab. It was inspired by <a href="http://www.mysociety.org/">mySociety's</a> <a href="http://www.theyworkforyou.com/">theyworkforyou.</a></p> 
</div>
<div class="half">
<h2>Our Philosophy</h2>

<p>Democracy is the lifeblood of our nation. For democracy to thrive, however, voters must be active and informed. TheyWorkForAZ uses publicly available information in new ways to help you track issues and give your lawmakers feedback on their performance.</p>
<p>Are your representatives truly working for you? TheyWorkForAZ helps you find out.</p>
<p>TheyWorkForAZ draws on bills and other records made available online by the Arizona Legislature. It is not, however, an official record of legislative proceedings.</p>
</div>
<div class="half">
<h2>Open-Source</h2>

<p>Open-source software is free to copy, distribute, use and improve. TheyWorkForAZ uses only free open-source software, including:</p>
<ul>
<li><a href="http://www.linux.com/">Linux</a>: Server operating system</li>
<li><a href="http://wiki.nginx.org/Main">Nginx</a>: Server hosting service</li>
<li><a href="http://www.postgresql.org/">PostgreSQL</a>: Relational database for organizing our data</li>
<li><a href="http://postgis.refractions.net/">PostGIS</a>: Used with PostgreSQL to create our maps</li>
<li><a href="http://python.org/">Python</a>: Programming language that adds functionality to our pages</li>
<li><a href="http://www.djangoproject.com/">Django</a>: Web framework for Python</li>
<li><a href="http://geodjango.org/">GeoDjango</a>: Library that adds geographic capabilities to Django</li>
<li><a href="http://www.census.gov/geo/www/tiger/">Data from the US census</a></li>
</ul>
</div>
<br class="clear">
{% endblock %}