{% extends "base.html" %}
{% block headline %}
    <h1>About theyworkforaz</h1>
{% endblock %}
{% block content %}
<div class="full">
    <p>theyworkforAZ uses publicly available information in new ways to help you keep track of your elected representatives. theyworkforAZ was developed in the <a href="http://cronkite.asu.edu">New Media Innovation Lab</a> at <a href="http://www.asu.edu">Arizona State University</a> from an idea by <a href="http://www.markng.co.uk">Mark Ng</a> and <a href="http://phxdata.org">phxdata</a>, inspired by <a href="http://www.mysociety.org/">mySociety's</a> <a href="http://www.theyworkforyou.com/">theyworkforyou</a></p>
</div>
<br class="clear">
{% endblock %}