{% extends "base.html" %}
{% block headline %}
    <h1>About TheyWorkForAZ</h1>
{% endblock %}
{% block content %}
<div class="full">
	<p>
    TheyWorkForAZ was developed in the <a href="http://cronkite.asu.edu">New Media Innovation Lab</a> at <a href="http://www.asu.edu">Arizona State University</a> based on the ideas of <a href="http://www.markng.co.uk/">Mark Ng</a> and <a href="http://phxdata.org/">phxdata.</a> It was inspired by <a href="http://www.mysociety.org/">mySociety's</a> <a href="http://www.theyworkforyou.com/">theyworkforyou.</a> Nathan Anderson designed the site, with help from Heather Billings and ???</br></br>              

TheyWorkForAZ draws on bills and other records made available online by the Arizona Legislature. It is not, however, an official record of legislative proceedings.</br></br>

<h2>Our Philosophy</h2></br></br>

Democracy is the lifeblood of our nation. For democracy to thrive, however, voters must be active and informed. TheyWorkForAZ uses publicly available information in new ways to help you track issues and give your lawmakers feedback on their performance. </br></br>

Are your representatives truly working for you? TheyWorkForAZ helps you find out.</br></br>

<h2>Open-Source<h2></br></br>

TheyWorkForAZ uses only free open-source software, including:</br></br>

     <u>Ruby on Rails</u> -    web application framework</br>
     <u>Ruby language</u> - </br>
     <u>Hpricot</u> -          fast and delightful HTML parser </br>
     <u>Ubuntu GNU/Linux</u> - server operatingsystem </br>
     <u>MySql</u> - database </br>
     <u>Mongrel</u> -          HTTP server & clustering </br>
     <u>nginx</u> -            HTTP server & load balancing reverse proxy </br></br>

Open-source software is free to copy, distribute, use and improve.
</p>
</div>
<br class="clear">
{% endblock %}