{% extends "base.html" %}
{% block jshead %}
{% endblock %}
{% block headline %}
    <h1>Find your district</h1>
{% endblock %}
{% block content %}
<div class="full">
    <form action="{% url addresscheck %}" method="post">
        {{ where_form }}
        <input type="submit" value="Find District">
    </form>
    {% if placesearch %}
    <ul>
        {% for result in placesearch %}
            <li><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></li>
        {% endfor %}        
    </ul>
    {% endif %}
</div>
<br class="clear" />  
{% endblock %}