<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml" xml:lang"en">
  <head>
	<meta content="en-us" http-equiv="Content-Language" /> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1;"/>
    <title>they work for arizona</title>
    <!--[if lt IE 9]>
    <script src="/stylesheets/html5.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/twfa.css" type="text/css" charset="utf-8">
    <link rel="icon" href="/images/fav.png">
    <script type="text/javascript">
      function searchSubmit(event) {
        event.target.form.submit();
      }
    </script>
	<script src="/js/jquery-1.5.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/twaz.general.js" type="text/javascript" charset="utf-8"></script>
    
  </head>

 

      <div class="nav">
          <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{% url addresscheck %}">Find Your District</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url account %}">Account</a></li>
            <li><a href="{% url django.contrib.auth.views.logout %}">Logout {{ user }}</a></li>
            {% else %}
            <li><a href="{% url registration.views.register %}">Sign Up</a>/<a href="{% url django.contrib.auth.views.login %}">Log In</a></li>
            {% endif %}
			
          </ul>
          <div class="search_button">
		</div>
          <br class="clear">
      </div>
      


    

     <div class="background">
	<div class="innertop">
    <div id="logo_background">	
	
	<h1> 
		<img align= "Left" img src ="../images/twfaz_logo.png"/>
	</h1>
	
	<div id= "intro">
	   Which way are your Arizona lawmakers voting?</br> And what's happening on the biggest issues of the day?</br> Search here to start tracking the action of the capitol.	
		
	</div>
	
	</div>
      

     </div> 	
	 
	  </div>
    

      <div class="search_home"> </div>
	  
	      

      <footer>
	         </br><p><a href="/"> ©2011 They work for AZ</a></p>
		
	          
	      </footer>
      <script src="http://cdn.uservoice.com/javascripts/widgets/tab.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
      var uservoiceOptions = {
        key: 'theyworkforaz',
        host: 'theyworkforaz.uservoice.com', 
        forum: '101169',
        showTab: true,  
        alignment: 'left',
        background_color:'#f00', 
        text_color: 'white',
        hover_color: '#06C',
        lang: 'en'
      };
      </script>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21277177-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </body>
</html>
