<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml" xml:lang"en">
  <head>
	<meta content="en-us" http-equiv="Content-Language" /> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1;"/>
    <title>they work for arizona</title>
    <!--[if lt IE 9]>
    <script src="/stylesheets/html5.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/twfa.css" type="text/css" charset="utf-8">
    <link rel="icon" href="/images/fav.png">
    <script type="text/javascript">
      function searchSubmit(event) {
        event.target.form.submit();
      }
    </script>
	<script src="/js/jquery-1.5.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/twaz.general.js" type="text/javascript" charset="utf-8"></script>
    {% block jshead %}{% endblock %}{% block extrastyle %}{% endblock %}
    
  </head>

  {% block bodytag %}{% if gmap %}{{ gmap.body }}{% else %}<body id="{% block bodyid %}base{% endblock %}">{% endif %}{% endblock %}
 

      <nav>
          <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{% url addresscheck %}">Find Your District</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url account %}">Account</a></li>
            <li><a href="{% url django.contrib.auth.views.logout %}">Logout {{ user }}</a></li>
            {% else %}
            <li><a href="{% url registration.views.register %}">Sign Up</a>/<a href="{% url django.contrib.auth.views.login %}">Log In</a></li>
            {% endif %}
			
          </ul>

        <div id="search_button">
		   <a href="http:theyworkforaz.us" title="null" id="search-button"></a>
		
		     <div id="search_button2" class="search_button_off"> 
		         </div>
		     <div id="search">Search
		         </div>
		</div>
		
		<div id="button_search_area" style="display: none; ">
			
		     <div id="button_search_area_in">
			     <div id="button_search_area_submit"> 
		         </div>	
		     </div>
		</div>
		
          <br class="clear">
      </nav>
      
      {% block header_content %}
        
      {% endblock %}
      <section id="content">
          {% block content %}

          {% endblock %}        
          <br class="clear">
      </section>
      <footer>
	
	<a href="/"><img src="/images/az_logo_small	.png" alt="theyworkforaz - what are your elected officials doing?" class="lowerlogo"></a>
	
	  	<div class="quarter"> 
		              <ul> 
		                <li><a href="#" onclick="UserVoice.Popin.show(uservoiceOptions); return false;">Feedback</a></li> 
		                <li><a href="/about">About Us</a></li> 
		              </ul> 
		          </div> 
		          <div class="quarter"> 
		              <ul> 
		                <li><a href="/planned_features">Planned Features</a></li> 
		                <li><a href="/senate">All Senators</a></li> 
		        	    <li><a href="/house">All Representatives</a></li>		
		              </ul> 
		 </div>
	
		
		<div class="half right">
		<a href="http://phxdata.org"><img src="/images/phxdata_logo.png" alt="PHXdata.org"></a>
		<a href="http://cronkite.asu.edu/"><img src="/images/cronkite-logo.png" alt="Walter Cronkite School of Journalism"></a>
		</div>
		<br class="clear">
      </footer>

      <script src="http://cdn.uservoice.com/javascripts/widgets/tab.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
      var uservoiceOptions = {
        key: 'theyworkforaz',
        host: 'theyworkforaz.uservoice.com', 
        forum: '101169',
        showTab: true,  
        alignment: 'left',
        background_color:'#f00', 
        text_color: 'white',
        hover_color: '#06C',
        lang: 'en'
      };
      </script>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21277177-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </body>
</html>
