{% extends "base.html" %}
{% block headline %}
    <h1>{{ bill }}</h1></h1>{% if bookmark %}<form action="{% url unbookmark %}" method="post">{{ bookmarkform }}<input type="submit" value="Bookmarked"></form>{% else %}<form action="{% url bookmark %}" method="post">{{ bookmarkform }}<input type="submit" value="Bookmark"></form>{% endif %}
{% endblock %}
{% block content %}
{% if bill.billdocument_set.versions.count %}
<div class="half">
    <h2>Versions</h2>
    <ul>
    {% for document in bill.billdocument_set.versions %}
      <li><a href="{{ document.url }}">{{ document }}</a></li>
    {% endfor %}            
    </ul>
</div>
{% endif %}    
<div class="half">
    <h2><img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ bill.sponsorship_set.democrats.count }},{{ bill.sponsorship_set.republicans.count }}&amp;chs=50x50&amp;chco=0000FF,FF0000&amp;chf=bg,s,ffffff00" alt="" class="sparkpie"> {{ bill.sponsorship_set.count }} Sponsor{{ bill.sponsorship_set.count|pluralize }} 
    {% if bill.sponsorship_set.democrats.count %}({{ bill.sponsorship_set.democrats.count }} Democrat{{ bill.sponsorship_set.democrats.count|pluralize }}){% endif %} 
    {% if bill.sponsorship_set.republicans.count %}({{ bill.sponsorship_set.republicans.count }} Republican{{ bill.sponsorship_set.republicans.count|pluralize }}){% endif %}
    </h2>
    <p>Primary Sponsors</p>
    <ul id='psponsors' class='longlist'>
    {% for sponsor in bill.sponsorship_set.primary %}
      <li><a href="{{ sponsor.representative.get_absolute_url }}">{{ sponsor.representative }} ({{ sponsor.representative.party.code }})</a></li>
    {% endfor %}
    </ul>
    <br class="clear">
    {% if bill.sponsorship_set.cosponsors.count %}
    <p>Co-sponsors</p>
    <ul id='csponsors' class='longlist'>
    {% for sponsor in bill.sponsorship_set.cosponsors %}
      <li><a href="{{ sponsor.representative.get_absolute_url }}">{{ sponsor.representative }} ({{ sponsor.representative.party.code }})</a></li>
    {% endfor %}
    </ul>
    <br class="clear">
    {% endif %}
    
</div>
<br class="clear">
{% endblock %}
