{% extends "base.html" %}
{% block jshead %}
  {{ gmap.api_script }}
  <style type="text/css" media="screen">
    div#map{
      height: 200px;
      width: 450px;
    }
  </style>
{% endblock %}
{% block bodytag %}
  {{ gmap.body }}
{% endblock %}
{% block content %}
  <h1>Arizona District {{ district }}</h1>
  <script type="text/javascript" charset="utf-8">
      {{ gmap.render }}
  </script>
  <div id="map">
    &nbsp;
  </div>
  <h2>Your Representatives</h2>
  <ul>
    {% for rep in district.representative_set.all %}
      <li><a href="{{ rep.link }}">{{ rep }} ({{ rep.house }}{% if rep.role  %} {{ rep.role }}{% endif %})</a></li>
    {% endfor %}    
  </ul>
{% endblock %}