{% extends "base.html" %}
{% block jshead %}
  {{ gmap.api_script }}
  <style type="text/css" media="screen">
    div#map{
      height: 200px;
      width: 450px;
    }
  </style>
{% endblock %}
{% block bodytag %}
  {{ gmap.body }}
{% endblock %}
{% block content %}
  <div class="grid_12">
    <h2>Arizona District {{ district }}</h2>
  </div>
  <div class="grid_12">
    <script type="text/javascript" charset="utf-8">
        {{ gmap.render }}
    </script>
    <div id="map">
      &nbsp;
    </div>
  </div>
  <div class="grid_12">
    <h2>Your Representatives</h2>
    <ul>
      {% for rep in district.representative_set.all %}
        <li><a href="{{ rep.get_absolute_url }}">{{ rep }}</a> {{ rep.party }} ({{ rep.house }}{% if rep.role  %} {{ rep.role }}{% endif %})</li>
      {% endfor %}    
    </ul>    
  </div>
{% endblock %}