{% extends "base.html" %}
{% block jshead %}
  {{ gmap.api_script }}
  <style type="text/css" media="screen">
    div#map{
      width: 100%;
      height: 500px;
    }
  </style>
{% endblock %}
{% block headline %}
    <h1>Arizona District {{ district }}</h1>
{% endblock %}
{% block content %}
  <div class="half">
      {% if boundary_close %}
      <p class="error">In the Alpha stage of theyworkforaz, addresses near district boundaries are subject to inaccuracy.  We're working to resolve this problem.</p>
      {% endif %}
      <script type="text/javascript" charset="utf-8">
          {{ gmap.render }}
      </script>
      <div id="map">
          &nbsp;
      </div>
      <br class="clear">
  </div>
  <div class="half">
    <h2>Your Representatives</h2>
    <p>House: <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ district.balance.House.D }},{{ district.balance.House.R }}&amp;chs=50x50&amp;chco=0000FF,FF0000" title="D: {{ district.balance.House.D }} R: {{ district.balance.House.R }}" /> Senate: <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ district.balance.Senate.D }},{{ district.balance.Senate.R }}&amp;chs=50x50&amp;chco=0000FF,FF0000" title="D: {{ district.balance.Senate.D }} R: {{ district.balance.Senate.R }}" /> Overall: <img src="http://chart.apis.google.com/chart?cht=p&amp;chd=t:{{ district.balance.all.D }},{{ district.balance.all.R }}&amp;chs=50x50&amp;chco=0000FF,FF0000" title="D: {{ district.balance.all.D }} R: {{ district.balance.all.R }}" /></p>
    <ul>
      {% for rep in district.representative_set.all %}
        <li><a href="{{ rep.get_absolute_url }}">{{ rep }}</a> {{ rep.party }} ({{ rep.house }}{% if rep.role  %} {{ rep.role }}{% endif %})</li>
      {% endfor %}    
    </ul>    
  </div>
  <br class="clear" />
    &nbsp;
  </div>

{% endblock %}