{% extends "base.html" %}
{% block jshead %}
{% endblock %}
{% block headline %}
    <h1>Track what your legislators are doing</h1> 
{% endblock %}
{% block content %}
<div class="half">
	<div class="intro-box">
	    <p>Which way are your Arizona lawmakers voting? And what’s happening on the biggest issues of the day? Search here to start tracking the action at the Capitol.</p>
	</div>
</div>
<div class="half">
		<h1>Accountability.</h1>
        <h1>Transparency.</h1>
</div>
<br class="clear">
<div class="half frontsearch">
    <h2>Don't know who your legislators are?</h2>
    <form action="{% url addresscheck %}" method="post" accept-charset="utf-8">
        {{ where_form.lat }}{{ where_form.lon }}{{ where_form.where }}<input type="submit" value="Find District"><input type="button" value="Use current location" class="geolocator">
        <p>For example : "555 N Central Ave, Phoenix, 85004", "85304", "Lake Havasu City"</p>
     </form> </br>
<p> <a href="{% url senate %}">List of Senate members</a> </br>
	<a href="{% url house %}"> List of House members</a> </p>
    
</div>
<div class="half frontsearch">
    <h2>Want to track a bill, issue or legislator?</h2>
    <form action="{% url haystack_search %}" method="get" accept-charset="utf-8">
        {{ search_form.q }} <input type="submit" value="Search here">
    </form>
    <p>For example : "Education", "Russell Pearce", "HB2001"</p>
</div>
<br class="clear" />
{% endblock %}


