{% extends "base.html" %}
{% block jshead %}
{% endblock %}
{% block content %}
<div id="intro">
	<p>Which way are your Arizona lawmakers voting? And what’s happening on the biggest issues of the day? Search here to start tracking the action at the Capitol.</p>
</div>
<br class="clear"/>

<div class="full">
	
</div>

<div class="center">
<h2>Search for legislators, districts or bills</h2> 
<p><form><input type="text" name="search"><input type="button" value="Find it!"></form></p>
<h3>Don't know your district? Click <a href="{% url addresscheck %}">here</a> to find it.</h3>
</div>
{% endblock %}
