<!-- {% extends "base.html" %} -->
{% block jshead %}
{% endblock %}
{% block headline %}
    <h1>Track what your legislators are doing</h1> 
{% endblock %}
{% block header_content %}
    <div class="background">
   	   <div class="innertop">
              <div id="logo_background">	
   	              <h1> 
   		<img align= "Left" img src ="../images/twfaz_logo.png"/>
   	              </h1>

   	                 <div id= "intro">
   	               Which way are your Arizona lawmakers voting?</br> And what's happening on the biggest issues of the day?</br> Search here to start tracking the action of the capitol.			
   	                 </div>
   	        </div>

          </div> 	
    </div>
{% endblock %}
{% block content %}
<div class="search_home"> 
	   <div class="inner_home">
	   	   <div id="headline_container"> 		
				<div class="find_and_track_headlines_font_treatment"><h2>FIND</h2> your districts and issues </div>
				<div class="find_and_track_headlines_font_treatment"><h3>TRACK</h3> their bills and Legislator</div>
			</div>
			
	               <div class="search_container">
	       	  	<div class="search_instructions_font_treatment frontsearch_boxes">Here you can find out exactly which district you are in</br>and who is taking care of it by typing in your location</div>
				<div class="search_instructions_font_treatment frontsearch_boxes">Here you  can track what's happening by searching the bills by issue or an elected official</div>
	               </div>
	            
	   </div>
		    <div id="example">
	       		<div class="search_input_example">For example: "555 N Central Ave.,Phoenix, 85004", "85304"</div>
				<div class="search_input_example">For example: "Education", "Russell Pearce", "HB2001"</div>
	        </div>
	
	
</div>
{% endblock %}


