{% extends "base.html" %}
{% block content %}
<div class="grid_12">
  <h2>{{ member }} ({{ member.party.code }})</h2>
  {% if member.role %}
    <p>{{ member.role }}, <a href="{{ member.district.get_absolute_url }}">District {{ member.district }}</a></p>
  {% else %}
    <p>Member for <a href="{{ member.district.get_absolute_url }}">District {{ member.district }}</a></p>
  {% endif %}
  
  {% if member.sponsored_bills.count %}
  <p>Sponsored Bills</p>
  <ul class="sponsorships">
    {% for sponsorship in member.sponsored_bills.all %}
    <li class="grid_3"><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
    {% endfor %}
  </ul>    
  <br class="clear">
  {% endif %}
  {% if member.cosponsored_bills.count %}
  <p>Co-sponsored Bills</p>
  <ul class="sponsorships">
    {% for sponsorship in member.cosponsored_bills.all %}
    <li class="grid_3"><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
    {% endfor %}
  </ul>    
  <br class="clear">
  {% endif %}
</div>
{% endblock %}
