{% extends "base.html" %}
{% block headline %}
    <h1>{{ member }} ({{ member.party.code }})</h1>
{% endblock %}
{% block content %}
<div class="full">
  {% if member.role %}
    <p><strong>{{ member.role }}</strong>, House <a href="{{ member.district.get_absolute_url }}">District {{ member.district }}</a></p>
  {% else %}
    <p><strong>Representative</strong> for <a href="{{ member.district.get_absolute_url }}">District {{ member.district }}</a></p>
  {% endif %}
</div>
{% if member.sponsored_bills.count %}
<div class="half">
    <h2>Sponsored Bills</h2>
    <ul class="sponsorships">
      {% for sponsorship in member.sponsored_bills.all %}
      <li class="grid_3"><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
      {% endfor %}
    </ul>    
</div>
{% endif %}
{% if member.cosponsored_bills.count %}
<div class="half">
    <h2>Co-sponsored Bills</h2>
    <ul class="sponsorships">
      {% for sponsorship in member.cosponsored_bills.all %}
      <li class="grid_3"><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
      {% endfor %}
    </ul>    
</div>
{% endif %}
{% endblock %}
