{% extends "base.html" %}
{% block jshead %}
  {{ place.gmap.api_script }}
  <style type="text/css" media="screen">
    div#map{
      height: 200px;
      width: 450px;
    }
  </style>
{% endblock %}
{% block bodytag %}
  {{ place.gmap.body }}
{% endblock %}
{% block content %}
	<div class="grid_12">
	    <h2>{{ place }}</h2>
	    <p>In district{{ place.in_districts|pluralize }} {% for district in place.in_districts %}{% if not forloop.first %}, {% endif %}<a href="{{ district.get_absolute_url }}">{{district}}</a>{% endfor %}</p>
	    <script type="text/javascript" charset="utf-8">
            {{ place.gmap.render }}
        </script>
        <div id="map">
          &nbsp;
        </div>
	</div>
{% endblock %}