{% extends "base.html" %}
{% block headline %}
    <h1>Planned Features</h1>
{% endblock %}
{% block content %}

<div class="default_background"> 
     	<h1> 
           <img align= "Left" img src ="../images/default_logo.png"/>
       </h1>
</div>

<div id="about_intro">
    <p>Here are some of the things you will soon be able to do on TheyWorkForAZ:</p>
</div>

<br><br>

<div id="bodycopy">
	
	<p>
	<ul>
        <li>Track issues, lawmakers, districts and bills; choose how you want to be updated and how often</li>
        <li>Explore legislative social networks: who does your lawmaker work and vote with most often?</li>
        <li>View bill histories</li>
        <li>Share content via Twitter, Facebook and other social networks</li>
  
   	</p>
	</ul>
	
	<br class="clear">
	</div>
      
{% endblock %}

