{% extends "base.html" %}
{% block headline %}
    <h1>{{ senator }} ({{ senator.party }})</h1>{% if bookmark %}<form action="{% url unbookmark %}" method="post">{{ bookmarkform }}<input type="submit" value="Bookmarked"></form>{% else %}<form action="{% url bookmark %}" method="post">{{ bookmarkform }}<input type="submit" value="Bookmark"></form>{% endif %}
{% endblock %}
{% block content %}
<div class="full">
{% if senator.role %}
  <p><strong>{{ senator.role }}</strong>, Senate <a href="{{ senator.district.get_absolute_url }}">{{ senator.district }}</a></p>
{% else %}
  <p><strong>Senator</strong> for <a href="{{ senator.district.get_absolute_url }}">{{ senator.district }}</a></p>
{% endif %}
{% if member.phone %}
<p>Tel: {{ member.phone }}</p>    
{% endif %}
{% if member.email %}
<p>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>    
{% endif %}
{% if member.link_to_bio %}
<p><a href="{{ member.link_to_bio }}">Official Bio</a></p>    
{% endif %}
</div>
{% if senator.sponsored_bills.count %}
<div class="half">
    <h2>Sponsored Bills</h2>
    <ul class="sponsorships">
      {% for sponsorship in senator.sponsored_bills.all %}
      <li><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
      {% endfor %}
    </ul>    
</div>
{% endif %}
{% if senator.cosponsored_bills.count %}
<div class="half">
    <h2>Co-sponsored Bills</h2>
    <ul class="sponsorships">
      {% for sponsorship in senator.cosponsored_bills.all %}
      <li><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill }}</a></li>
      {% endfor %}
    </ul>    
</div>
{% endif %}
<br class="clear" />
{% endblock %}